<header class="container-fluid">
    <h1 class="col-xs-12 text-center">{{folio.pageTitle()}}</h1>
</header>
<nav class="main">
    <ul class="list-unstyled">
        <li ng-repeat="type in ['Design', 'Development', 'Documentation']">
            <a title="View Design Projects" ng-href="/{{type.toLowerCase()}}" ng-class="{active: folio.getType() == type  }">{{type}}</a>
        </li>
    </ul>
</nav>

