This is a project...
{{project.hello}}
<article>
    <header>
        <h3>{{project.title}}</h3>
    </header>
    <div>
        {{project.name}}
        <section class="lead">
            <p>{{folio.description}}</p>
            <ul>
                <li ng-repeat="listItem in project.listItems">{{listItem}}</li>
            </ul>
        <figure>
                <figcaption>Screenshots</figcaption>
                <a><img></a>
                <a><img></a>
                <a><img></a>
            </figure>
        </section>
        <dl class="list-unstyled">

            <dt ng-if="project.lang.length > 0">Lang</dt>
            <dd ng-if="project.lang.length > 0">
                <span ng-repeat="lang in project.lang">
                    {{lang}}<span ng-if="!$last">,</span>
                </span>
            </dd>
            <dt ng-if="project.tech.length > 0">Tech</dt>
            <dd ng-if="project.tech.length > 0">
                <span ng-repeat="tech in project.tech">
                    {{tech}}<span ng-if="!$last">,</span>
                </span>
            </dd>
            <dt>Links</dt>
            <dd>
                <ul class="list-unstyled">
                    <li ng-repeat="link in project.links"><a href="{{link.url}}" title="View {{link.title}} for {{project.title}}">{{link.title}}</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</article>      