<article ng-repeat="project in folio.project">
    <header class="project">
        <h2>{{project.name}}</h2>
    </header>
    <div>
        <section class="project lead col-sm-9 col-xs-12 row">
            <p>{{project.description}}</p>
            <ul>
                <li ng-repeat="item in project.list">{{item}}</li>
            </ul>
        </section>
        <section class="links col-sm-3 col-xs-12 row">
            <h3>Links</h3>
            <ul class="list-unstyled lead">
                <li ng-repeat="link in project.hrefs">
                    <a href="{{link.url}}" target="new" title="View {{link.title}}">
                        <span class="glyphicon glyphicon-link"></span>
                        {{link.title}}
                    </a>
                </li>
            </ul>
        </section>
    </div>

    <screen-shots> </screen-shots>

    <section class="skills-list">
        <project-lang ng-if="project.lang.length"></project-lang>
        <project-tech ng-if="project.tech.length"></project-tech>
    </section>
</article>      
