page-footer > footer {
	position: fixed;
	z-index: 1000;
	box-sizing: border-box;
	bottom: 0;
	left: 0;
	background-color: $mdBlue;
	color: white;
	font-weight: 100;
	font-size: 2rem;
	line-height: 2rem;
	letter-spacing: 0.25em;
	height: 5rem;
	box-shadow: 0px -1px 10px 1px rgba($dkBlue,0.45);
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	p {
		text-align: center;
	}
	@media screen and (max-width: 600px) {
		font-size: 1.5rem;
		height: 3.75rem;
		padding-top: 1rem;
	}
}
