h2, h3, h4, h5, h6 {
	box-sizing: border-box;
	font-family: Roboto, sans-serif !important;
	font-weight: 300;
}
h1 { 
	box-sizing: border-box;
    font-weight: 100;
    font-size: 7.5rem;
}
h2 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
h3 > a { 
	color: $dkBlue;
}

h4 {
	font-weight: 300 !important;
	font-size: 2.25rem;
	letter-spacing: 0.25em;
}
h4 {
	background-color: $ltBlue;
	display: block;
	box-sizing: border-box;
	padding-left: 0.75rem;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	border-left: 0.75rem solid $mdBlue;
	border-bottom: 2px solid $mdBlue;
}
