page-header > header, page-footer > footer {
	box-sizing: border-box;
	width: 100%;
}

page-header > header {
	// z-index: 100;
	// @include border(skyblue, 5);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media screen and (max-width: 600px) {
		background-color: $ltBlue;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		box-shadow: 0px 8px 5px -5px rgba($mdBlue,0.35);
		h1 {
			// align-self: flex-end;
			font-size: 4.5rem;
			margin-top: 0.5rem;
			// width: 63% !important;
			text-align: left!important;
			// border: 1px solid green;
			margin-bottom: 0;
			padding-bottom: 0.5rem;
			padding-left: 0.75rem!important;
			margin-left: 0;
		}
	}
}
body {
	padding-top: 4rem;
}
nav.main {
	z-index: 1000;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	display: block;
	ul {	
		// z-index: 100;
		box-shadow: 0px 8px 5px -5px rgba($mdBlue,0.35);
		margin-bottom: 0;
		position: relative;
		background-color: $mdBlue;
		box-sizing: border-box;
		display: flex;	
		flex-direction: row;
		justify-content: space-between;
		font-size: 2rem;
		font-weight: 100;
		letter-spacing: 0.25em;
		li {
			color: white;
			box-sizing: border-box;
			height: 100%;
			display: block;	
			min-width: 30%;
			max-width: 100%;
			width: auto;
			flex-grow: 2;
			text-align: center;
			a {
				box-sizing: border-box;
				width: 100%;
				padding: 0.75rem 0 ;
				display: block;
				box-sizing: border-box;
				color: white;
				&.active {
					text-decoration: none;
					color: white;
					background-color: rgba($dkBlue, 0.65);
				}
				&:active, &:hover, &:visited{
					text-decoration: none;
					color: white;
					background-color: $dkBlue;
				}
			}
		}
	}
	@media screen and (max-width: 600px) {	
		ul {
			background-color: red!important;
			flex-direction: row;
			// display:block;
			padding: 0;
			li {
				background-color: $mdBlue;
				// text-align: right;
				box-sizing: border-box;
				font-weight: 300;
				font-size: 1.5rem;
				margin: 0;
				padding: 0;
				a {
					color: red;
					padding-right: 1rem;
					letter-spacing: 0;
				}
				&:first-of-type {
					text-align: left;
					flex-shrink: 1;
					a {
						padding-left: 1rem;
					}
				}
				&:nth-child(2) {
					flex-shrink: 1;
				}
				&:last-of-type {
					text-align: right;
					flex-grow: 1;
					a {
						padding-right: 1rem;
					}
				}
			}
		}
	}
}
