/**
 * Skills Zebra Stripes by screen size
 */

@media screen and (max-width: 767px) {
	main.container-fluid, header.container-fluid {
		padding: 0;
	}
	h2 {
		padding-left: 1rem;
	}
	article {
		div {
			padding-left: 1rem;
			padding-right: 1rem;
			p {
				padding: 0;
			}
		}
	}
	h4 {
		padding-left: 0.425rem;
		border-left-width: 0.575rem;
	}
	section.skills-list {
		display: flex;
		flex-direction: column;
	}
	.skills > li {
		box-sizing: border-box;
		padding-left: 1rem !important;
		padding-right: 1rem !important;
		width: 100%;
		&:nth-child(odd) 
		{
			background-color: white;
		}
		&:nth-child(even)
		{
			background-color: $ltBlue;
		}
		&:last-of-type {
			border-bottom: 2px solid $ltBlue;
		}
	}
	screen-shots {
		figure > ul > li > a {
			border: 5px solid white;
		}
	}
}
/*
 * Two Columns (One : One)
 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	main {
		// @include border(red,5);
		box-sizing: border-box;
	}
	project-lang, project-tech {
		width: 49%;
	}
	.skills {
		margin: 0;
	}
	.skills > li {
		width: 100%;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		box-sizing: border-box;
		flex-grow: 3;
		/* Colour every first row of two columns */
		&:nth-child(odd), 
		{
			background-color: white;
		}
		&:nth-child(even), 
		{
			background-color: $ltBlue;
		}
	}
	screen-shots {
		figure > ul > li > a {
			border: 8px solid white;
		}
	}
}
/**
 * Three Columns (One : Two)
 */
@media screen and (min-width: 1025px) {
	project-tech {
		display: inline-block;
		max-width: 66%;
		.skills > li {
			box-sizing: border-box;
			width: 50%;
			padding-left: 1.5rem;
			padding-right: 1.5rem;

			/* Colour every second row of two */
			$i:1;
			@while $i < 30 {
				&:nth-child(#{$i}),
				&:nth-child(#{$i+1}),
				{
					background-color: white;
				}
				$i : $i + 4;
			}
			/* Colour every second row of three */
			$i:3;
			@while $i < 30 {
				&:nth-child(#{$i}),
				&:nth-child(#{$i+1}),
				{
					background-color: $ltBlue;
				}
				$i : $i + 4;
			}
			/* Pad single column last second row */
			$i : 3;
			@while $i < 30 {
				&:last-of-type:nth-child(#{$i}), &:last-of-type:nth-child(1),
				 {
					max-width: 100%;
					width: 66.6666666666666%;
					padding-right: 51.7%;
					flex-grow: 10;
				}
				$i : $i + 2;
			}
		}
	}
	screen-shots {
		figure > ul > li > a {
			border: 12px solid white;
		}
	}
	project-lang {
		display: inline-block;
		max-width: 33%;
		.skills > li {
			width: 100%;
			&:nth-child(odd) {
				background-color: white;
			}
			&:nth-child(even) {
				background-color: $ltBlue;

			}
		}
	}

}
