/**
 * Style Project Articles.
 */
article { 
	// z-index: 5;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
}

article, .zebra {
	&:nth-child(even) {
		background-color: $ltBlue;
	}
}
.zebra {
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	&:last-of-type {
		border-bottom: 1px solid $mdBlue !important;
		margin-bottom: 1.5rem;
	}
}

header.project {
	z-index: -100;
	box-sizing: border-box;
	// background-color: $ltBlue;
	width: 100%;
	margin-bottom: 0.75rem;
	h2 {
		padding-bottom: 0.75rem;
	}
	border-bottom: 1px solid darken($ltBlue, 5%);
}


article { 
	.btn.more {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
	}
	p {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	h3 {
		width: 100%;
		font-weight: 300;
		font-size: 2.75rem;
		letter-spacing: 0.4rem;
		cursor: pointer;
	}
	div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		section {
			width: 80%;
			padding: 0;
			margin:0;
			box-sizing: border-box;
			p, ul {
				box-sizing: border-box;
				font-size: 0.9em;
				font-weight: 300;
				margin-right: 1.5rem;
			}
		}
	}
}	
.project.row {
	flex-grow: 3;
	p {
		// color: red;
		font-size: 1.1em;
		font-weight: 400;
		line-height: 1.4em;
		letter-spacing: 0.03em;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
}
article {
	div {
		padding-left: 1.5rem;
		padding-right: 0;
		p {
			padding: 0;
		}
		section.lead {
			padding-right: 0!important;
			margin-right: 0!important;
			ul {
				padding-left: 2rem;
				// font-size: 1.75rem;
				margin-right: 0;
				margin-left: 0;
				padding-right: 0;
				li {
					// text-align: justify;
					line-height: 1.5em;
					letter-spacing: 0.01em;
					padding-bottom: 0.75rem;
				}
			}
		}
	}
}

.btn {
	color: white;
	background: $mdBlue;
	&:hover, &:active {
		background: $dkBlue;
		color: white;
	}
}
