.rating {
	display: flex;
	min-width: 80px;
	padding-top: 0;
	padding-bottom: 0;
	justify-content: space-between;
	.circle {
	    width: 12px;
	    height: 12px;
	    padding: 0;
	    margin: 0;
	    margin-top: 8px;
	    padding-right: 6px;
	    background: #eee;
	    -moz-border-radius: 6px;
	    -webkit-border-radius: 6px;
	    border-radius: 6px;
	    display: inline-block;
	    border: 1px solid darken(#eee, 2.5%);
	}
	.circle.rated {
		background-color: $mdBlue;
	    border: 1px solid darken($mdBlue, 10%);
	}
}
