screen-shots {
	figure {
		display: flex;
		flex-direction: column;
		padding-bottom: 1.5rem;
		ul {
			margin: 0 auto;
			display: flex;
			justify-content: space-around;
			margin-bottom: 1.5rem;
			width: 100%;		
			li {
				display: inline-block;
				border: 1px solid #ccc;
				width: 24%;		
				margin: 0;
				a {
					cursor: pointer;
					box-sizing: border-box;
					display: block;
					padding: 0;
					border: 3px solid white;
					.thumbnail {
						box-sizing: border-box;
						width: 100%;
						height: auto;
						border:1px solid #ccc;
						padding: 0;
						background-color: $ltBlue;
					}	
				}
			}
		}
	}
}

.screen-modal {
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
}

.thumbnail {
	cursor: pointer;
	padding: 0;
	margin: 0;
	margin-bottom: 0 !important;
}

.screen-shot {
	background-color: $ltBlue;
	border: 1px solid darken($ltBlue, 10%);
	// display: block;
	object-fit: contain;
	width: 100%;

	// height: auto;
}

// figure {
// 	font-weight: 400;
// 	box-sizing: border-box;
// 	width: 100%;
// 	figcaption {
// 		letter-spacing: 0.2em;
// 		font-size: 2rem;
// 	}
// 	a {
// 		border: 1px solid #999;
// 		display: inline-block;
// 		img {

// 		}
// 	}
// }
