section.skills-list {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

project-tech, project-lang {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border-top: 1px solid darken($ltBlue, 5%);
}
.skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:flex-start;
	max-width: 100%;
	li {
		box-sizing: border-box;
		display: flex;
		padding: 0;
		margin: 0;
		span {
			box-sizing: border-box;
			padding: 0;
			margin: 0;
			&:first-of-type {
				flex-grow: 3;
				font-size: 2rem;
				font-weight: 300;
				width: 250px;
			}
			&:last-of-type {
				flex-shrink: 2;
				width: 100px;
				skill-rating {
					display: flex;
					padding: 0;
					.rating {
						margin: 0 auto;
					}
					// padding-right: 1.5rem;
				}
			}
		}
	}
}
project-lang, project-tech {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	h4 {
		margin-top: 0;
	}
	.skills {
		li {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}
}
