/**
 * Colours
 */
$ltBlue:    #eaf1f8;
$ltBlueBdr: #d8e6f2;
$mdBlue:    #5288bf;
$dkBlue:    #2f5480;

.hidden{
	display:none;
}

@mixin reset() {
	margin: 0;
	padding: 0;
}
@mixin border($color, $width:1, $unit:1px) {
	border: $width * $unit solid $color;
}
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
body {
	box-sizing: border-box;
	margin: 0;
	color: $dkBlue;
	font-family: Roboto, sans-serif;
	main {
		margin: 0 auto;
		max-width: 100%;
		box-sizing: border-box;
	}
	padding-bottom: 3rem;
}
body.user {
	// padding-top: 70px;
}

main {
	// @include border(orange, 5);
}

@import 'forms';

@import 'headings';

@import 'header';

@import 'footer';

@import 'project';

@import 'screenshots';

@import 'ratings';

@import 'skills';

@import 'media';


#edit-panel {
	opacity: 0.7;
	z-index: 2000;
	position: fixed;
	padding: 2px;
	background-color: adjust-hue($ltBlue, 95%);
	border: 1px solid adjust-hue($dkBlue, 95%);
	border-top-left-radius: 0.85rem;
	border-bottom-left-radius: 0.85rem;
	padding-right: 1rem;
	width: 11rem;
	height: 10rem;
	ul {
		width: 100%;
		height: 100%;
		border-radius: 0.75rem;
		border: 2px solid adjust-hue($mdBlue, 95%);
		margin: 0;
		padding: 1.5rem;
		list-style-type: none;
		li {
			h5 {
				padding: 0;
				margin: 0;
				font-weight: 400;
				font-size: 1.75rem;
				color: adjust-hue($dkBlue, 95%);
			}
			a {
				color: adjust-hue($mdBlue, 95%);
			}
		}
	}
	right: -9rem;
	bottom: 7.5rem;
	&:hover, &:active {
		right: 0;
		
	}
	@media screen and (max-width: 600px) {
		bottom: 6rem;
	}
}
