/**
 * Colours
 */
.hidden {
  display: none; }

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  margin: 0;
  color: #2f5480;
  font-family: Roboto, sans-serif;
  padding-bottom: 3rem; }
  body main {
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box; }

form .img-responsive {
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #5288bf;
  margin-bottom: 1.5rem; }

h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  font-family: Roboto, sans-serif !important;
  font-weight: 300; }

h1 {
  box-sizing: border-box;
  font-weight: 100;
  font-size: 7.5rem; }

h2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

h3 > a {
  color: #2f5480; }

h4 {
  font-weight: 300 !important;
  font-size: 2.25rem;
  letter-spacing: 0.25em; }

h4 {
  background-color: #eaf1f8;
  display: block;
  box-sizing: border-box;
  padding-left: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  border-left: 0.75rem solid #5288bf;
  border-bottom: 2px solid #5288bf; }

page-header > header, page-footer > footer {
  box-sizing: border-box;
  width: 100%; }

page-header > header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media screen and (max-width: 600px) {
    page-header > header {
      background-color: #eaf1f8;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-shadow: 0px 8px 5px -5px rgba(82, 136, 191, 0.35); }
      page-header > header h1 {
        font-size: 4.5rem;
        margin-top: 0.5rem;
        text-align: left !important;
        margin-bottom: 0;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem !important;
        margin-left: 0; } }

body {
  padding-top: 4rem; }

nav.main {
  z-index: 1000;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  display: block; }
  nav.main ul {
    box-shadow: 0px 8px 5px -5px rgba(82, 136, 191, 0.35);
    margin-bottom: 0;
    position: relative;
    background-color: #5288bf;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.25em; }
    nav.main ul li {
      color: white;
      box-sizing: border-box;
      height: 100%;
      display: block;
      min-width: 30%;
      max-width: 100%;
      width: auto;
      flex-grow: 2;
      text-align: center; }
      nav.main ul li a {
        box-sizing: border-box;
        width: 100%;
        padding: 0.75rem 0;
        display: block;
        box-sizing: border-box;
        color: white; }
        nav.main ul li a.active {
          text-decoration: none;
          color: white;
          background-color: rgba(47, 84, 128, 0.65); }
        nav.main ul li a:active, nav.main ul li a:hover, nav.main ul li a:visited {
          text-decoration: none;
          color: white;
          background-color: #2f5480; }
  @media screen and (max-width: 600px) {
    nav.main ul {
      background-color: red !important;
      flex-direction: row;
      padding: 0; }
      nav.main ul li {
        background-color: #5288bf;
        box-sizing: border-box;
        font-weight: 300;
        font-size: 1.5rem;
        margin: 0;
        padding: 0; }
        nav.main ul li a {
          color: red;
          padding-right: 1rem;
          letter-spacing: 0; }
        nav.main ul li:first-of-type {
          text-align: left;
          flex-shrink: 1; }
          nav.main ul li:first-of-type a {
            padding-left: 1rem; }
        nav.main ul li:nth-child(2) {
          flex-shrink: 1; }
        nav.main ul li:last-of-type {
          text-align: right;
          flex-grow: 1; }
          nav.main ul li:last-of-type a {
            padding-right: 1rem; } }

page-footer > footer {
  position: fixed;
  z-index: 1000;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  background-color: #5288bf;
  color: white;
  font-weight: 100;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.25em;
  height: 5rem;
  box-shadow: 0px -1px 10px 1px rgba(47, 84, 128, 0.45);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  page-footer > footer p {
    text-align: center; }
  @media screen and (max-width: 600px) {
    page-footer > footer {
      font-size: 1.5rem;
      height: 3.75rem;
      padding-top: 1rem; } }

/**
 * Style Project Articles.
 */
article {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box; }

article:nth-child(even), .zebra:nth-child(even) {
  background-color: #eaf1f8; }

.zebra {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem; }
  .zebra:last-of-type {
    border-bottom: 1px solid #5288bf !important;
    margin-bottom: 1.5rem; }

header.project {
  z-index: -100;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #d7e4f2; }
  header.project h2 {
    padding-bottom: 0.75rem; }

article .btn.more {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem; }
article p {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
article h3 {
  width: 100%;
  font-weight: 300;
  font-size: 2.75rem;
  letter-spacing: 0.4rem;
  cursor: pointer; }
article div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  article div section {
    width: 80%;
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
    article div section p, article div section ul {
      box-sizing: border-box;
      font-size: 0.9em;
      font-weight: 300;
      margin-right: 1.5rem; }

.project.row {
  flex-grow: 3; }
  .project.row p {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.03em;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }

article div {
  padding-left: 1.5rem;
  padding-right: 0; }
  article div p {
    padding: 0; }
  article div section.lead {
    padding-right: 0 !important;
    margin-right: 0 !important; }
    article div section.lead ul {
      padding-left: 2rem;
      margin-right: 0;
      margin-left: 0;
      padding-right: 0; }
      article div section.lead ul li {
        line-height: 1.5em;
        letter-spacing: 0.01em;
        padding-bottom: 0.75rem; }

.btn {
  color: white;
  background: #5288bf; }
  .btn:hover, .btn:active {
    background: #2f5480;
    color: white; }

screen-shots figure {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem; }
  screen-shots figure ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    width: 100%; }
    screen-shots figure ul li {
      display: inline-block;
      border: 1px solid #ccc;
      width: 24%;
      margin: 0; }
      screen-shots figure ul li a {
        cursor: pointer;
        box-sizing: border-box;
        display: block;
        padding: 0;
        border: 3px solid white; }
        screen-shots figure ul li a .thumbnail {
          box-sizing: border-box;
          width: 100%;
          height: auto;
          border: 1px solid #ccc;
          padding: 0;
          background-color: #eaf1f8; }

.screen-modal {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0; }

.thumbnail {
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-bottom: 0 !important; }

.screen-shot {
  background-color: #eaf1f8;
  border: 1px solid #c4d8eb;
  object-fit: contain;
  width: 100%; }

.rating {
  display: flex;
  min-width: 80px;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: space-between; }
  .rating .circle {
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    padding-right: 6px;
    background: #eee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    border: 1px solid #e8e8e8; }
  .rating .circle.rated {
    background-color: #5288bf;
    border: 1px solid #3c6fa2; }

section.skills-list {
  display: flex;
  justify-content: space-between;
  width: 100%; }

project-tech, project-lang {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-top: 1px solid #d7e4f2; }

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 100%; }
  .skills li {
    box-sizing: border-box;
    display: flex;
    padding: 0;
    margin: 0; }
    .skills li span {
      box-sizing: border-box;
      padding: 0;
      margin: 0; }
      .skills li span:first-of-type {
        flex-grow: 3;
        font-size: 2rem;
        font-weight: 300;
        width: 250px; }
      .skills li span:last-of-type {
        flex-shrink: 2;
        width: 100px; }
        .skills li span:last-of-type skill-rating {
          display: flex;
          padding: 0; }
          .skills li span:last-of-type skill-rating .rating {
            margin: 0 auto; }

project-lang, project-tech {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0; }
  project-lang h4, project-tech h4 {
    margin-top: 0; }
  project-lang .skills li, project-tech .skills li {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }

/**
 * Skills Zebra Stripes by screen size
 */
@media screen and (max-width: 767px) {
  main.container-fluid, header.container-fluid {
    padding: 0; }

  h2 {
    padding-left: 1rem; }

  article div {
    padding-left: 1rem;
    padding-right: 1rem; }
    article div p {
      padding: 0; }

  h4 {
    padding-left: 0.425rem;
    border-left-width: 0.575rem; }

  section.skills-list {
    display: flex;
    flex-direction: column; }

  .skills > li {
    box-sizing: border-box;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    width: 100%; }
    .skills > li:nth-child(odd) {
      background-color: white; }
    .skills > li:nth-child(even) {
      background-color: #eaf1f8; }
    .skills > li:last-of-type {
      border-bottom: 2px solid #eaf1f8; }

  screen-shots figure > ul > li > a {
    border: 5px solid white; } }
/*
 * Two Columns (One : One)
 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    box-sizing: border-box; }

  project-lang, project-tech {
    width: 49%; }

  .skills {
    margin: 0; }

  .skills > li {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
    flex-grow: 3;
    /* Colour every first row of two columns */ }
    .skills > li:nth-child(odd) {
      background-color: white; }
    .skills > li:nth-child(even) {
      background-color: #eaf1f8; }

  screen-shots figure > ul > li > a {
    border: 8px solid white; } }
/**
 * Three Columns (One : Two)
 */
@media screen and (min-width: 1025px) {
  project-tech {
    display: inline-block;
    max-width: 66%; }
    project-tech .skills > li {
      box-sizing: border-box;
      width: 50%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      /* Colour every second row of two */
      /* Colour every second row of three */
      /* Pad single column last second row */ }
      project-tech .skills > li:nth-child(1), project-tech .skills > li:nth-child(2) {
        background-color: white; }
      project-tech .skills > li:nth-child(5), project-tech .skills > li:nth-child(6) {
        background-color: white; }
      project-tech .skills > li:nth-child(9), project-tech .skills > li:nth-child(10) {
        background-color: white; }
      project-tech .skills > li:nth-child(13), project-tech .skills > li:nth-child(14) {
        background-color: white; }
      project-tech .skills > li:nth-child(17), project-tech .skills > li:nth-child(18) {
        background-color: white; }
      project-tech .skills > li:nth-child(21), project-tech .skills > li:nth-child(22) {
        background-color: white; }
      project-tech .skills > li:nth-child(25), project-tech .skills > li:nth-child(26) {
        background-color: white; }
      project-tech .skills > li:nth-child(29), project-tech .skills > li:nth-child(30) {
        background-color: white; }
      project-tech .skills > li:nth-child(3), project-tech .skills > li:nth-child(4) {
        background-color: #eaf1f8; }
      project-tech .skills > li:nth-child(7), project-tech .skills > li:nth-child(8) {
        background-color: #eaf1f8; }
      project-tech .skills > li:nth-child(11), project-tech .skills > li:nth-child(12) {
        background-color: #eaf1f8; }
      project-tech .skills > li:nth-child(15), project-tech .skills > li:nth-child(16) {
        background-color: #eaf1f8; }
      project-tech .skills > li:nth-child(19), project-tech .skills > li:nth-child(20) {
        background-color: #eaf1f8; }
      project-tech .skills > li:nth-child(23), project-tech .skills > li:nth-child(24) {
        background-color: #eaf1f8; }
      project-tech .skills > li:nth-child(27), project-tech .skills > li:nth-child(28) {
        background-color: #eaf1f8; }
      project-tech .skills > li:last-of-type:nth-child(3), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }
      project-tech .skills > li:last-of-type:nth-child(5), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }
      project-tech .skills > li:last-of-type:nth-child(7), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }
      project-tech .skills > li:last-of-type:nth-child(9), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }
      project-tech .skills > li:last-of-type:nth-child(11), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }
      project-tech .skills > li:last-of-type:nth-child(13), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }
      project-tech .skills > li:last-of-type:nth-child(15), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }
      project-tech .skills > li:last-of-type:nth-child(17), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }
      project-tech .skills > li:last-of-type:nth-child(19), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }
      project-tech .skills > li:last-of-type:nth-child(21), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }
      project-tech .skills > li:last-of-type:nth-child(23), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }
      project-tech .skills > li:last-of-type:nth-child(25), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }
      project-tech .skills > li:last-of-type:nth-child(27), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }
      project-tech .skills > li:last-of-type:nth-child(29), project-tech .skills > li:last-of-type:nth-child(1) {
        max-width: 100%;
        width: 66.6666666666666%;
        padding-right: 51.7%;
        flex-grow: 10; }

  screen-shots figure > ul > li > a {
    border: 12px solid white; }

  project-lang {
    display: inline-block;
    max-width: 33%; }
    project-lang .skills > li {
      width: 100%; }
      project-lang .skills > li:nth-child(odd) {
        background-color: white; }
      project-lang .skills > li:nth-child(even) {
        background-color: #eaf1f8; } }
#edit-panel {
  opacity: 0.7;
  z-index: 2000;
  position: fixed;
  padding: 2px;
  background-color: #f8eaf7;
  border: 1px solid #802f76;
  border-top-left-radius: 0.85rem;
  border-bottom-left-radius: 0.85rem;
  padding-right: 1rem;
  width: 11rem;
  height: 10rem;
  right: -9rem;
  bottom: 7.5rem; }
  #edit-panel ul {
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    border: 2px solid #bf52b5;
    margin: 0;
    padding: 1.5rem;
    list-style-type: none; }
    #edit-panel ul li h5 {
      padding: 0;
      margin: 0;
      font-weight: 400;
      font-size: 1.75rem;
      color: #802f76; }
    #edit-panel ul li a {
      color: #bf52b5; }
  #edit-panel:hover, #edit-panel:active {
    right: 0; }
  @media screen and (max-width: 600px) {
    #edit-panel {
      bottom: 6rem; } }
