<section class="project list container-fluid content">
	<article ng-repeat="project in folio.projects" class="row">
		<header>
			<h3 class="col-xs-10"><a ng-href="/project/{{project.slug}}" title="View Project: {{project.name}}">{{project.name}}</a></h3>
			<a 	title="View Project: {{project.name}}"
				ng-href="/project/{{project.slug}}"
				class="more btn btn-lg btn-default btn-custom">
				<span class="glyphicon glyphicon-search"></span>
			</a>
		</header>
	    <p class="lead col-xs-10 col-sm-11">{{project.description}}</p>
	</article>
</section>
