<figure ng-if="project.imgs.length">
    <figcaption><h4>Screenshots</h4></figcaption>
    <ul class="list-unstyled" style="">
        <li ng-repeat="img in project.imgs">
            <a data-toggle="modal" data-target="#scrModal-{{img.id}}" title="Press to Enlarge {{img.title}}">
                <img src="{{img.profile}}" alt="Press to Enlarge {{item.title}}" class="thumbnail">
            </a>
        </li>
    </ul>
</figure>

<div ng-repeat="img in project.imgs" class="screen-modal">
	<!-- Modal -->

	<div class="modal fade" id="scrModal-{{img.id}}" tabindex="-1" role="dialog" aria-labelledby="scrModal-{{img.id}}Label">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h3 class="modal-title" id="scrModal-{{img.id}}Label">{{img.title}}</h3>
	      </div>
	      <div class="modal-body">
	      	<p class="lead">{{img.caption}}</p>
	        <a href="{{img.original}}" title="View Full Image: {{img.title}}" target="new">
		        <img src="{{img.original}}" alt="View full image: {{img.title}}" title="{{img.title}}" class="screen-shot">
		    </a>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
